<div id="seats">
    {% for row in showing.rows %}
        <div style="display: flex; flex-direction: row; justify-content: center ;">
            {% for seat in row.1 %}
                {% set is_available = showing.seat_is_available(seat) %}
                <label>
                    <input type="checkbox"
                           name="selected_seats"
                           value="{{ seat }}"
                           {% if not is_available %}disabled{% endif %}
                           {% if seat in selected_seats %}checked{% endif %}
                           data-attr="{ disabled:$reservedSeats.indexOf('{{ seat.upper() }}')>-1}"
                           style="display: none">
                    <svg id="seat-{{ seat }}"
                         viewBox="0 0 2 2"
                         xmlns="http://www.w3.org/2000/svg"
                         width="1em"
                         style="display: inline-block"
                         class="seat">
                        <circle data-attr-r="$reservedSeats.indexOf('{{ seat.upper() }}')>-1 ? .75 : 1" cx="1" cy="1" />
                        <line x1="0.125" y1="1.75" x2="1.75" y2="0.125" stroke="darkgrey" stroke-width="0.125" data-show="$reservedSeats.indexOf('{{ seat }}')>-1" />
                    </svg>
                </label>
            {% endfor %}
        </div>
    {% endfor %}
</div>
