{% extends 'base.html' %}
{% block content %}
    <h1>
        {{ showing.movie_name }} at {{ showing.start_time.strftime("%I:%M %p") }}, <span class="text-sm">{{ showing.start_time.strftime("%m/%d/%y") }}</span>
    </h1>
    <script>
  function getFormData(evt) {
    const checked = evt.target.form.querySelectorAll('input[type="checkbox"]:checked');
    const values = Array.from(checked).map((input) => input.value);
    return encodeURIComponent(JSON.stringify(values));
  }
    </script>
    <form class="grid grid-cols-2 gap-4"
          method="post"
          data-signals="{reservedSeats: {{ showing.reserved_list }}}"
          data-on-load="@get('/showing/{{ showing.showing_id }}/updates')"
          data-on-change="@get('/showing/{{ showing.showing_id }}/seats?seats='+getFormData(evt))">
        {% include '_seat.html' %}
        <div>
            {% if error %}
                <h2>There's an issue:</h2>
                <p>{{ error }}</p>
            {% endif %}
            <h2>Select seats to purchase</h2>
            <input type="hidden" name="user" value="{{ user_id }}">
            <ul id="seat-list">
            </ul>
            <button type="submit" class="btn btn-primary">Purchase</button>
        </div>
    </form>
{% endblock %}
