{% extends 'base.html' %}
{% block content %}
    <h1>
        {{ showing.movie_name }} at {{ showing.start_time.strftime("%I:%M %p") }}, <span class="text-sm">{{ showing.start_time.strftime("%m/%d/%y") }}</span>
    </h1>
    <form class="grid grid-cols-2 gap-4"
          method="post"
          x-data="{selectedSeats:[]}">
        <div id="seats">
            {% for row in showing.rows %}
                <div style="display: flex; flex-direction: row; justify-content: center ;">
                    {% for seat in row.1 %}
                        <label>
                            {% if showing.seat_is_available(seat) %}
                                <input type="checkbox"
                                       name="selected_seats"
                                       value="{{ seat }}"
                                       x-model="selectedSeats"
                                       style="display: none">
                            {% endif %}
                            <svg id="seat-{{ seat }}"
                                 viewBox="0 0 2 2"
                                 xmlns="http://www.w3.org/2000/svg"
                                 width="1em"
                                 style="display: inline-block"
                                 class="seat">
                                <circle r="1" cx="1" cy="1" />
                            </svg>
                        </label>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div>
            <h2>Select seats to purchase</h2>
            <ul>
                <template x-for="seat in selectedSeats">
                    <li x-text="seat"></li>
                </template>
            </ul>
            <button type="submit" class="btn btn-primary">Purchase</button>
        </div>
    </form>
{% endblock %}
