@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@source "../../../../**/templates/**/*.html";

svg.seat {
    fill: #eeedea;

    &.taken {
        fill: #f1f1f1;
    }

    input[name="selected_seats"]:checked + & {
        fill: #bada55
    }

    @variant dark {
        fill: #888;

        &.taken {
            fill: #555;
        }

        input[name="selected_seats"]:checked + & {
            fill: #bada55
        }
    }
}
